In [ ]:
import numpy as np
import pandas as pd
import re

In [ ]:
df = pd.read_csv('supply_chain_data.csv')

In [ ]:
df.head()

,Product type,SKU,Price,Availability,Number of products sold,Revenue generated,Customer demographics,Stock levels,Lead times,Order quantities,...,Location,Lead time,Production volumes,Manufacturing lead time,Manufacturing costs,Inspection results,Defect rates,Transportation modes,Routes,Costs
0,haircare,SKU0,69.808006,55,802,8661.996792,Non-binary,58,7,96,...,Mumbai,29,215,29,46.279879,Pending,0.226410,Road,Route B,187.752075
1,skincare,SKU1,14.843523,95,736,7460.900065,Female,53,30,37,...,Mumbai,23,517,30,33.616769,Pending,4.854068,Road,Route B,503.065579
2,haircare,SKU2,11.319683,34,8,9577.749626,Unknown,1,10,88,...,Mumbai,12,971,27,30.688019,Pending,4.580593,Air,Route C,141.920282
3,skincare,SKU3,61.163343,68,83,7766.836426,Non-binary,23,13,59,...,Kolkata,24,937,18,35.624741,Fail,4.746649,Rail,Route A,254.776159
4,skincare,SKU4,4.805496,26,871,2686.505152,Non-binary,5,3,56,...,Delhi,5,414,3,92.065161,Fail,3.145580,Air,Route A,923.440632

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 24 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Product type             100 non-null    object
 1   SKU                      100 non-null    object
 2   Price                    100 non-null    float64
 3   Availability             100 non-null    int64
 4   Number of products sold  100 non-null    int64
 5   Revenue generated        100 non-null    float64
 6   Customer demographics    100 non-null    object
 7   Stock levels             100 non-null    int64
 8   Lead times               100 non-null    int64
 9   Order quantities         100 non-null    int64
 10  Shipping times           100 non-null    int64
 11  Shipping carriers        100 non-null    object
 12  Shipping costs           100 non-null    float64
 13  Supplier name            100 non-null    object
 14  Location                 100 non-null    object
 15  Lead time                100 non-null    int64
 16  Production volumes       100 non-null    int64
 17  Manufacturing lead time  100 non-null    int64
 18  Manufacturing costs      100 non-null    float64
 19  Inspection results       100 non-null    object
 20  Defect rates             100 non-null    float64
 21  Transportation modes     100 non-null    object
 22  Routes                   100 non-null    object
 23  Costs                    100 non-null    float64
dtypes: float64(6), int64(9), object(9)
memory usage: 18.9+ KB

In [ ]:
df.columns

Index(['Product type', 'SKU', 'Price', 'Availability',
       'Number of products sold', 'Revenue generated', 'Customer demographics',
       'Stock levels', 'Lead times', 'Order quantities', 'Shipping times',
       'Shipping carriers', 'Shipping costs', 'Supplier name', 'Location',
       'Lead time', 'Production volumes', 'Manufacturing lead time',
       'Manufacturing costs', 'Inspection results', 'Defect rates',
       'Transportation modes', 'Routes', 'Costs'],
      dtype='object')

Converting columns names into Title-Case

In [ ]:
def to_title_case(col_name):
  words = re.split(r'\s+', col_name.strip())
  return '_'.join(word.capitalize() for word in words)

df.columns = [to_title_case(col) for col in df.columns ]

In [ ]:
df.columns

Index(['Product_Type', 'Sku', 'Price', 'Availability',
       'Number_Of_Products_Sold', 'Revenue_Generated', 'Customer_Demographics',
       'Stock_Levels', 'Lead_Times', 'Order_Quantities', 'Shipping_Times',
       'Shipping_Carriers', 'Shipping_Costs', 'Supplier_Name', 'Location',
       'Lead_Time', 'Production_Volumes', 'Manufacturing_Lead_Time',
       'Manufacturing_Costs', 'Inspection_Results', 'Defect_Rates',
       'Transportation_Modes', 'Routes', 'Costs'],
      dtype='object')

In [ ]:
df.isnull().sum().sum()

np.int64(0)

In [ ]:
df.duplicated().sum()

np.int64(0)

In [ ]:
df.iloc[0]

Product_Type                  haircare
Sku                               SKU0
Price                        69.808006
Availability                        55
Number_Of_Products_Sold            802
Revenue_Generated          8661.996792
Customer_Demographics       Non-binary
Stock_Levels                        58
Lead_Times                           7
Order_Quantities                    96
Shipping_Times                       4
Shipping_Carriers            Carrier B
Shipping_Costs                2.956572
Supplier_Name               Supplier 3
Location                        Mumbai
Lead_Time                           29
Production_Volumes                 215
Manufacturing_Lead_Time             29
Manufacturing_Costs          46.279879
Inspection_Results             Pending
Defect_Rates                   0.22641
Transportation_Modes              Road
Routes                         Route B
Costs                       187.752075
Name: 0, dtype: object

In [ ]:
# striping while spaces
for col in ['Product_Type','Sku','Customer_Demographics','Shipping_Carriers',
            'Supplier_Name','Location','Inspection_Results',
            'Transportation_Modes','Routes']:
            df[col] = df[col].str.strip()

In [ ]:
# Standardize letter case (to avoid duplicates like "mumbai" vs "Mumbai")
columns_to_title = ['Location', 'Supplier_Name', 'Routes']
df[columns_to_title] = df[columns_to_title].apply(lambda x: x.str.title())

columns_to_capitilize  = ['Customer_Demographics', 'Inspection_Results', 'Transportation_Modes']
df[columns_to_capitilize] = df[columns_to_title].apply(lambda x: x.str.capitalize())

checking for consistency in generated-revenue and calculated revenue if the difference is way higher then need to investigate it furthur

In [ ]:
df['Calculated_Revenue'] = df['Price'] * df['Number_Of_Products_Sold']
revenue_diff = (df['Revenue_Generated'] - df['Calculated_Revenue']).abs()
print(revenue_diff.describe())

count      100.000000
mean     19187.460561
std      21061.734305
min         28.800480
25%       3441.584572
50%       8833.800787
75%      30912.888357
max      80910.097467
dtype: float64

In [ ]:
#  Checkingif Lead-time and lead_times are same value or Not?
print((df['Lead_Times']  == df['Lead_Time']).all())

False

In [ ]:
df.columns

Index(['Product_Type', 'Sku', 'Price', 'Availability',
       'Number_Of_Products_Sold', 'Revenue_Generated', 'Customer_Demographics',
       'Stock_Levels', 'Lead_Times', 'Order_Quantities', 'Shipping_Times',
       'Shipping_Carriers', 'Shipping_Costs', 'Supplier_Name', 'Location',
       'Lead_Time', 'Production_Volumes', 'Manufacturing_Lead_Time',
       'Manufacturing_Costs', 'Inspection_Results', 'Defect_Rates',
       'Transportation_Modes', 'Routes', 'Costs', 'Calculated_Revenue'],
      dtype='object')